{extends file('body.latte')}

{define search}
    {if canEditAsSuperAdmin()}
        {include file('include/search.latte'),
        placeholder: text('template.search'),
        target: '#index',
        search: null
        }
    {/if}
{/define}

{block main}
    <main class="grow p-4 w-full max-w-5xl mx-auto">
        <form ts-req="{path('BASE_PATH') . 'admin/template/sync'}" ts-target="target" method="POST" enctype="multipart/form-data">
            {csrf()}

            <div class="space-y-4">
                <h1 class="leading-none text-6xl font-bold">{text('template.templates')}</h1>

                <div class="w-full">
                    <div role="alert" class="alert bg-neutral text-neutral-content alert-vertical sm:alert-horizontal">
                        <div class="text-accent">
                            {icon("feather/package.svg")|noescape}
                        </div>
                        <div>
                            <h2 class="bold text-lg">Discover new templates</h2>
                            <p>Browse the template catalog to discover beautiful templates.</p>
                        </div>
                        <div>
                            <a href="{path('BASE_PATH') . 'admin/template/catalog'}" class="btn btn-primary shadow-none">{text('template.catalog')}</a>
                        </div>
                    </div>
                </div>

                <div n:if="!$templates->isEmpty()" class="overflow-x-auto rounded-box border border-base-content/5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>{text('template.name')}</th>
                            <th>{text('template.description')}</th>
                            <th>{text('template.version')}</th>
                            <th>{text('template.type')}</th>
                            <th>{text('template.status')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $templates as $key => $template}
                            <tr>
                                <td>
                                    <input type="hidden" name="template[{$key}][id]" value="1">
                                    {$template->name}
                                </td>
                                <td>{$template->description}</td>
                                <td>
                                    <span class="badge badge-sm badge-soft badge-accent font-bold">
                                        {$template->version} - {$template->version_channel}
                                    </span>
                                </td>
                                <td>
                                    <div class="badge badge-sm badge-soft badge-info font-bold">
                                        {$template->type}
                                    </div>
                                </td>
                                <td>
                                    {* include file('include/plugin-status.latte'), plugin: $plugin *}
                                </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    {button type:submit, text:text('button.update')}
                </div>

            </div>
        </form>
    </main>
{/block}